@mixin font ($family, $size: 1.5rem, $height: 2.4rem, $lspacing: 0em, $style: normal, $weight: 400) {
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
    letter-spacing: $lspacing;
}

@mixin media-desktop {
    @media (max-width: calc($content-width)) {
        @content;
    }
}