.container {
    max-width: $content-width;
    margin: auto;
    scroll-behavior: smooth;
    //padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}